APP_PORT=3141
LOG_LEVEL=debug

TATU_BOT_TOKEN=123:PRIVATE_KEY
ADMIN_IDS=123,123

# MINIO
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=123
MINIO_SECRET_KEY=123
MINIO_ENDPOINT=8.8.8.8
MINIO_PUBLIC_URL=https://8.8.8.8:9000
# MINIO

# PG
DB_POOL_MAX=2
DB_URL=postgres://postgres:postgres@localhost:5432/db
# PG